doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='icon' type='image/x-icon' href='/img/logo.png')
  link(rel='stylesheet' href='/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css')
  link(rel='stylesheet' href='/css/style.css')
  
  block head
    title= 'Mjolnir Shop Test Docker'
.msg.animate.slide-in-down
header#header
  .wrapper
    .desktop-header
      .search-container
        form.search(action='/search')
          input.input-search#search(type='text' name='q' value autocomplete="off" placeholder='Search....')
          div.btn-search
            i.bi.bi-search
      .logo-container
        a.logo-link(href='/')
          img.logo(src='/img/logo.png' alt='')
      if user
        .navbar-list
          .account
            a(href='/me')
              .info-button#isLogin
                i.bi.bi-person
                span= `${user.name.split(" ")[user.name.split(" ").length -1]}`

            .logout-button
                i.bi.bi-box-arrow-left
                | Đăng Xuất
          .cart(data-bs-toggle='modal' data-bs-target='#cartModal')
            i.bi.bi-bag-x
      else
        .navbar-list
          .account
            .login-button
              div(data-bs-toggle='modal' data-bs-target='#FormLoginRegister')
                i.bi.bi-box-arrow-right
                | Đăng Nhập
                
            .register-button
              div(data-bs-toggle='modal' data-bs-target='#FormLoginRegister')
                i.bi.bi-box-arrow-left
                | Đăng Ký
          .cart.login-button(data-bs-toggle='modal' data-bs-target='#FormLoginRegister')
            i.bi.bi-bag-x
    .link-category
      each item in category
        a.category-url(href="/category/"+ item.slug)= item.name

        
.page-container
    block content
footer#footer
  .wrapper-footer
    .footer-item
      h3 DỊCH VỤ
      ul
        li Điều khoản sử dụng
        li Chính sách bảo mật
        li Liên hệ
        li Hệ thống nhà sách
    .footer-item
      h3 HỖ TRỢ
      ul
        li Hướng dẫn đặt hàng
        li Chính sách đổi trả - hoàn tiền
        li Phương thức vận chuyển
        li Phương thức thanh toán
        li Chính sách khách hàng mua sỉ
        li Chính sách khách hàng cho trường học
    .footer-item
      h3 KẾT NỐI MẠNG XÃ HỘI
      ul
        li
          i.bi.bi-facebook
          | Facebook
        li
          i.bi.bi-messenger
          | Messenger
        li
          i.bi.bi-whatsapp
          | Whatsapp
        li
          i.bi.bi-youtube
          | YouTube
        li
          i.bi.bi-instagram
          | Instagram
        li
          i.bi.bi-twitter
          | Twitter
#FormLoginRegister.modal.fade(tabindex='-1' aria-labelledby='FormLoginRegisterLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      .popup-form-user
        .logo-form-user
          img(src='/img/logo.png' alt='logo')
        .form-user
          .heading-form
            | Xin Chào, 
            span.login-span Đăng Nhập
            |  hoặc
            span.register-span  Đăng ký
          form.form-login-user(action='#')
            input.user-email-login(type='email', placeholder='Email', required)
            input.user-password-login(type='password', placeholder='Mật khẩu' ,required, minlength='8')
            button.button-login(type='submit') Đăng Nhập
          form.form-register-user
            input.user-name-register(type='text' placeholder='Họ Tên' required)
            input.user-email-register(type='email' placeholder='Email' required)
            input.user-password-register(type='password' placeholder='Mật khẩu' required) 
            input.user-password-confirm-register(type='password' placeholder='Nhập lại mật khẩu' required)
            button.button-register Đăng ký
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')

#cartModal.modal.fade(tabindex='-1'  aria-labelledby='FormLoginRegisterLabel' aria-hidden='true')
  .modal-dialog.modal-lg.modal-dialog-centered
    .modal-content
      .modal-header.border-bottom-0
        h5#FormLoginRegisterLabel.modal-title
          | Giỏ Hàng Của Bạn
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          
      .modal-body-cart
        table.table.table-cart

       
        .d-flex.justify-content-end
          h5.total-price
            span.text-success 
      .modal-footer.border-top-0.d-flex.justify-content-between.navigation-cart
        a(href="/cart")
          button.btn.btn-secondary(type='button' data-dismiss='modal') Xem giỏ hàng
        a(href="/checkout")
          button.btn.btn-success(type='button') Thanh Toán



script(type='text/javascript' src='/js/static/bootstrap.bundle.min.js')
script(type='text/javascript' src='/js/static/jquery-3.6.0.min.js')
script(type='text/javascript' src='/js/static/axios.min.js')
script(type='text/javascript' src='/js/static/chosen.jquery.min.js')
//- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
script(type='text/javascript' src='/js/static/bootstrap-select.min.js')
script(type='text/javascript' src='/js/view/bundle.js')
