
extends base
block head
    title Mjolnir Shop | #{`${product.name}`}

block content

    .product-single(data-id=`${product.id}`)
        .product-single-image
            img.image-product(src=`${product.image}` alt=`${product.name}`)
        .product-single-info
            .product-content
                .product-header
                    span= `${product.name}`
                .product-rating
                    each star in [1, 2 , 3 ,4, 5]
                        if product.ratingsAverage*1 >= star
                            i.bi.bi-star-fill(style="color: #FFDF00")
                    span= `${product.ratingsQuantity} đánh giá    `
                .product-single-price= product.priceFormat
                .product-author
                    | Tác giả: 
                    each author in product.author
                        a(href=`/category/author/${author.slug}`)
                            span= author.name
                .product-category
                    | Danh mục: 
                    each category in product.category
                        a(href=`/category/${category.slug}`)
                            span= category.name
                if(product.quantity > 0)
                    .product-quantity
                        span Số lượng
                        .quantity-control
                            button
                                i.bi.bi-dash-lg
                            span.qty 1
                            button
                                i.bi.bi-plus-lg
                    .wrap(style="display: flex")
                        span= 'Số lượng còn lại:  '
                        .max-quantity= ` ${product.quantity}`
                        
                    
                if(product.quantity > 0)
                    .product-control
                        if user
                            .product-add-to-cart
                                | Thêm vào giỏ hàng
                        else
                            .add-to-cart-no-user.login-button(data-bs-toggle='modal' data-bs-target='#FormLoginRegister')
                                | Thêm vào giỏ hàng
                else
                    .add-to-cart-no-user Đã hết hàng
                    
                         
    .description
        .description-header Mô tả
        pre.description-body= `${product.description}`
               
    .rating
        .rating-header
            .rating-header-text Đánh giá sản phẩm
        .rating-body
            if product.reviews
                each review in product.reviews
                    .rating-wrap
                        .wrap-header
                            .rating-name= review.user.name
                            .rating-time= review.timeReview
                        each star in [1, 2 , 3 ,4, 5]
                            if review.rating*1 >= star
                                i.bi.bi-star-fill(style="color: #FFDF00")
                        .rating-text= review.review
                        
